SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=NYC_DOB_TRANSFORMER
SNOWFLAKE_WAREHOUSE=NYC_DOB_WH
SNOWFLAKE_DATABASE=NYC_DOB_ANALYTICS
SNOWFLAKE_SCHEMA=DEV
NYC_OPEN_DATA_APP_TOKEN=
